body{
    background-color: rgb(37, 23, 64);
    color: white;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

/* poppins font */
.poppins-font {
    font-family: 'Poppins', sans-serif;
}

/* Adjust the value to move the text up by the desired amount */
.up { 
    position: relative; 
    top: 5px; 
    left: 70px; 
}

.repositioned-logo {
    position: absolute;
    top: 25px; /* Position from the top */
    left: 100px; /* Position from the left */
    transform: translate(-50%, -50%); /* Center the image */
}

.repositioned-temp {
    position: absolute;
    top: 32px; /* Position from the top */
    left: 90%; /* Position from the left */
    transform: translate(-50%, -50%); /* Center the image */
}